

.user{
  width: 50%;
  margin: auto;
  text-align: center;
}
table {
  width: 60%;
  margin: 0px auto;
  font-size: 14px;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
tr:first-child {
  background-color: #019779;
  color: white;
}
tr:first-child th {
  padding: 15px 2px;
}
td {
  text-align: center;
}
.delete {
  background-color: #db1337;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  border: none;
}
.edit {
  cursor: pointer;
  background-color: #019578;
  color: white;
  padding: 8px 15px;
  border: none;
}
